<h1>Hotels</h1>

<h3>View all of our hotel properties</h3>

<div class="body">	
  <ul>
		<% @hotels.each do |hotel| %>
			<li> 
				<%= hotel.name %> 
				<%= link_to "View", hotel_path(hotel) %>
			</li>
		<% end %>
	</ul>

	<%= link_to new_hotel_path do  %>
			<button type="button" class="btn btn-primary">Add a Hotel</button>
	<% end %>
</div>
